<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pangare</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/pangare.css') }}" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/bootstrap.min.css') }}" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/dataTables.bootstrap5.min.css') }}" media="screen" />
        <script src="../static/js/socket.io.js"></script>
        <script src="../static/js/jquery-3.5.1.js"></script>
        <script src="../static/js/jquery.dataTables.min.js"></script>
        <script src="../static/js/dataTables.bootstrap5.min.js"></script>
    </head>
    <body >
        <div class="container mt-5">
            
            <h1>CONTADORES UIP</h1>
            <table id="example" class="table table-striped " style="width:100%">   
            <thead >
                <tr id="trhead">
                    
                </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
            </table>
        </div>

        <script>
            $(document).ready(function () {
                $('#example').DataTable()
            });

            window.onload = function () {
                let colunas = JSON.parse('{{ coluna | tojson }}');
                let lista = JSON.parse('{{ row | tojson }}');
                DataTable(colunas,lista);

            };

            function DataTable(colunas,lista) {

                let manualcolulas = [
                                    "id",
                                    "DataHora",
                                    "processados",
                                    "%",
                                    "produzidos",
                                    "%",
                                    "expulsos",
                                    "%",
                                    "delta1",
                                    "%",
                                    "delta2",
                                    "%",
                                    "boca",
                                    "%",
                                    "parede",
                                    "%",
                                    "fundo",
                                    "%",
                                    "residual",
                                    "%",
                                ]


                let trhead = document.getElementById('trhead');
                let tbody = document.getElementById('tbody');

                for(let i = 0 ; i < manualcolulas.length; i++){
                    let th = document.createElement('th');
                    th.innerHTML = manualcolulas[i];
                    trhead.appendChild(th);
                }
                
                for(let i = 0 ; i < lista.length; i++){
                    let tr = document.createElement('tr');
                    for(let j = 0 ; j < lista[i].length; j++){
                        if(lista[i][j] == null){
                            lista[i][j] = '-';
                        }
                       
                        tr.insertCell(j).innerHTML = lista[i][j];
                    }
                    tbody.appendChild(tr);
                }
            }

        </script>
    </body>
</html>